html {
    position: relative;
    min-height: 100%;
}

body {
    display: grid;
    grid-template: 38px 1fr 96px / 100%;
    margin: 0;
    padding: 0;
    color: gray;
    background-color: #efefef;
}

h3.title {
    margin-left: 1em;
    font-weight: bold;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

.header {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: #5e5e5e;
    z-index: 2;
}

.header-menu-left {
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row;
    font-size: x-large;
}

.header-menu-right {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    font-size: medium;
}

.header-menu-button {
    margin-right: 6px;
    color: white;
    text-decoration: none;
}

.navigation {
    position: fixed;
    top: 0;
    width: 100%;
}

img.expand {
    width: 100%;
    object-fit: cover;
}

p.title {
    display: block;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: black;
}

p.description {
    display: block;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-style: italic;
}

.content {
    position: relative;
    display: grid;
    grid-template: 1fr / 1fr;
    margin-top: 1em;
    margin-bottom: 0em;
    outline: black;
    outline-width: thin;
    justify-content: center;
    min-height: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0px 2px 2px;
    padding: 10%;
    padding-top: 0%;
}

.project-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: minmax(260px, 1fr);
    justify-content: flex-start;
    padding: 1em;
}

.project-container-single {
    display: grid;
    grid-gap: 1em;
    grid-auto-rows: minmax(260px, 1fr);
    justify-content: flex-start;
    padding: 1em;
    max-width: fit-content;
}

.project-container-content {
    text-decoration: none;
    color: gray;
    font-size: larger;
    box-shadow: 1px 4px 6px 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    border-radius: 4px;
}

.project-container-description {
    padding: 0.5em;
    padding-top: 0.3em;
}

.project-container-break {
    margin-bottom: 4em;
}

.footer {
    position: absolute;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    bottom: 0;
    width: 100%;
    background-color: #5e5e5e;
    color: white;
}

.footer-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footer-icon {
    margin-right: 8px;
    text-decoration: none;
    font-size: 2em;
    color: white;
}

